doctype html
html
head
body
  form(method='POST')
    label Email
    input#email(type='email' for='email' name='email')
    label Password
    input#password(type='password' for='password' name='password')
    button(type='submit' value='Submit') Submit